.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    min-height: 100vh;
    background-color: var(--white-color);
    z-index: 1099;
    transition: all .3s forwards ease-in-out;
}

.sidebar.active{
    visibility: visible;
    opacity: 1;
}

.sidebar__overlay{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.1);
    transition: all .3s;
    z-index: -1;
}

.sidebar.active .sidebar__container{
    margin-left: 0;
}

.sidebar__container{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    z-index: 2;
    min-height: 100vh;
    transition: all .3s;
}

.sidebar__logo{
    font-size: var(--fs-large);
    color: var(--secondary-color);
    font-weight: var(--fw-bold);
}

.sidebar__items{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}

.sidebar__link{
    width: 100%;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: var(--fs-normal);
    color: var(--secondary-color);
    font-weight: var(--fw-medium);
    border-radius: 5px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.sidebar__link.active{
    background-color: var(--primary-color);
}

.sidebar__link:hover{
    background-color: var(--primary-color);
}


@media screen and (max-width: 992px) {
    .sidebar{
        width: 100%;
        visibility: hidden;
        opacity: 0;
        background: none;
    }

    .sidebar.active .sidebar__overlay{
        opacity: 1;
        visibility: 1;
    }

    .sidebar__container{
        width: 280px;
        margin-left: -100%;
        background-color: var(--white-color);
    }
}